@import url('https://fonts.googleapis.com/css?family=Lato|Montserrat&display=swap');

/* EDIÇÃO GERAL */
:root{
    --roxo: #472A4C; /* RGB: 71,42,76 */
    --branco: white;
    --cinza: #F5F5F5;
    --cinza_esc: #CCCCCC;
    --laranja: #FFB65C;
    --mont: 'Montserrat';
    --lato: 'Lato';
}
*{
    margin: 0;
    padding: 0;
    font-family: var(--lato);
    font-size: 15px;
}
.container{
    width: 1200px;
    margin: auto;
}

/* INÍCIO DO HEADER */
header{
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;
}
.header_position{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header_position img{
    height: 60px;
}
header ul{
    display: flex;
    justify-content: flex-end;
    list-style: none;
}
#menu_superior{
    background-color: #472A4C;
    padding: 4px 0px;
}
#menu_superior ul li{
    background-color: var(--branco);
    border-radius: 20px;
    text-align: center;
    width: 140px;
    padding: 2px 0px;
    margin: 0px 0px 0px 20px;
}
#menu_superior ul a{
    color: var(--roxo);
    text-decoration: none;
}
#menu_inferior{
    -webkit-box-shadow: 0px 0px 35px -14px rgba(0,0,0,1);
    -moz-box-shadow: 0px 0px 35px -14px rgba(0,0,0,1);
    box-shadow: 0px 0px 35px -14px rgba(0,0,0,1);

    background-image: linear-gradient(#efefef, #f5f5f5, #f5f5f5, #f5f5f5, #f5f5f5, #f5f5f5, #f5f5f5, #efefef);
    padding: 28.5px 0px; 
}
#menu_inferior ul a{
    color: var(--roxo);
    text-decoration: none;
    margin: 0px 0px 0px 40px;
    font-size: 20px;
}
#menu_inferior ul a:hover, .ativo{
    border-bottom: 1px solid var(--roxo);
    padding: 0px 0px 2px;
}

/* INÍCIO DO FOOTER */
footer{
    background-image: linear-gradient(#3A233D, var(--roxo), var(--roxo), var(--roxo), var(--roxo),#3A233D);

    background-color: var(--roxo);
    text-align: center;
    color: var(--branco);
    padding: 15px 0px;
}
.footer_position{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px;
}
.footer_style{
    text-align: left;
}
.footer_style p{
    font-size: 20px;
    margin: 10px 0px;
}
.footer_style a{
    color: var(--branco);
    text-decoration: none;
    margin: 0px 20px 0px 0px;
    display: inline-flex;
    align-items: center;
}
.footer_style img{
    margin: 0px 10px 0px 0px;
    height: 30px;
}

/* NECESSÁRIO NO MAIN */
main{
    margin: 150px 0px 0px;
}
body{
    background: var(--cinza);
}
/* DEFINIR: height, width e radius conforme necessário na sua página em outra classe*/
.card{
    -webkit-box-shadow: 0px 0px 20px -14px rgba(0,0,0,1);
    -moz-box-shadow: 0px 0px 20px -14px rgba(0,0,0,1);
    box-shadow: 0px 0px 20px -14px rgba(0,0,0,1);
    background-color: white;
}


/* -------------------------------------------------------INICIO DA PAGINA HOME---------------------------------------------------------------------------------  */

/* -------------------------------------------------------INICIO DA PAGINA COLABORADORES---------------------------------------------------------------------------------  */
/* BANNER */
.colab{
    background-image: url(../img/banner_colaboradores.svg);
    opacity: 0.8;
    height: 620px;
    z-index: -1;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    background-attachment: fixed;

    display: flex;
    justify-content: center;
    align-items: center;
}
.colab_banner{
    background-color: rgba(255, 255, 255, 0.65);
    text-align: center;
    height: auto;
    width: 100%;
    padding: 30px 0px;
}
.tituloh1{
    color: var(--roxo);
    font-family: var(--mont);
    font-size: 40px;
    letter-spacing: 0.1em;
}
.colab_banner .p_colab{
    color: var(--roxo);
    font-family: var(--mont);
    font-size: 30px;
}

/* SEARCH BAR */
.search_bar{
    text-align: center;
    padding: 20px 0px;
}
.form_style{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 700px;
    height: 80px;
}
.input_style{
    border-radius: 10px;
    font-size: 20px;
    border: 0.5px solid var(--roxo);
    padding: 7.5px 10px;
    margin: 0px 5px;
    width: 628px;
}
.button_conj img{
    width: 32px;
    padding: 3px 0px 0px;
}
.button_conj{
    color: var(--branco);
    background-color: var(--roxo);
    border: 1px solid var(--roxo);
    border-radius: 10px;
    font-size: 18px;
    width: 150px;
    height: 40px;
    margin: 0px 5px;
}

/* CONTEUDO PRINCIPAL */
.colab_section{
    background-color: var(--laranja);
    color: var(--roxo);
    text-align: center;
    font-size: 25px;
    padding: 25px 0px;
    margin: 0px 0px 40px;
}
.card_colab{
    border-radius: 15px;
    width:   1200px;
    height: 350px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 40px;
}
.card_size{
    width: 500px;
    height: 300px;
}
.sp_border{
    border-right: 2px solid var(--cinza_esc);
    height: 300px;
}
.card_style{
    display: flex;
    justify-content: space-between;
    text-align: justify;
    margin: 15px 0px;
}
.card_info, .card_info img{
    width: 100px;
    text-align: center;
}
h3{
    font-family: var(--mont);
    font-size: 25px;
    text-align: center;
}
.text_1{
    width: 300px;
}
/* -------------------------------------------------------FIM DA PAGINA COLABORADORES----------------------------------------------------------------  */

/* -------------------------------------------------------INICIO DA PAGINA RECEITAS-----------------------------------------------------------------  */
.caixa_central{
    margin: auto;
    width: 1200px;
}

.banner{
    background-image: url(../img/banner.jpg);
    opacity: 0.8;
    z-index: -1;
    background-repeat: no-repeat;
    background-position: center;
    height: 620px; /*765*/
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-family: var(--montserrat);
}

.bloco{
    background-image: linear-gradient(rgba(255, 255, 255, 0.65), rgba(255, 255, 255, 0.65));
    padding: 30px 0px;
    width: 100%;
    color: var(--roxo);
}

.bloco_titulo_1{
    font-size: 40px;
    font-family: var(--mont);
}

.bloco_titulo_2{
    font-size: 30px;
    font-family: var(--mont);
}

.pesquisa{
    display: flex;
    justify-content: center;
    padding-top: 30px;
    
}

.pesquisa a{
    background-color: var(--roxo); 
    margin-left: 10px;
    padding: 0px 18px;
    border-radius: 10px;
    height: 35px;
    font-family: var(--lato); 
}

.pesquisa img{
    width: 25px;
    
}

.texto{
    width: 700px; 
    border-radius: 10px;  
    font-size: 20px;
}

.linha_laranja{
    background-color: var(--laranja); 
    color: var(--roxo);
    text-align: center;
    padding: 25px 0px;
    font-size: 25px;   
    
}

.grupo_total{
    display: flex;
    justify-content: center;
    flex-wrap: wrap; 
}

.grupo{
    display: flex;
    justify-content: space-around;
    width: 1100px;
    flex-wrap: wrap;  
}

.cards{
    border-radius: 10px;
    margin-top: 40px;
    width: 350px; 
}

.img{
    align-items: center;
    text-align: center;   
}

.img img{
    padding-top: 30px;
    width: 130px;
}

.card_titulo{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 40px;
    text-decoration-line: underline;
    font-size: 18px;
    font-family: var(--montserrat); 
}

.card_subtitulo{
    padding-left: 10px;
    font-family: var(--lato); 
}

.card_conteudo{
    width: 320px;
    padding-top: 20px;
    padding-bottom: 40px;
    padding-left: 10px;
    font-family: var(--lato); 
}

.mais{
    display: flex;
    justify-content: flex-end;  
    padding: 10px 45px; 
    
}

/* ---------------------------------------------------------------FIM DA PAGINA RECEITAS-----------------------------------------------  */

/* ---------------------------------------------------------------INICÍO DA PAGINA LOGIN-----------------------------------------------  */
.fundo{
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.292), rgba(0, 0, 0, 0.292)), url(../img/foto_fundo.svg);
    background-position: center top;
    background-repeat: no-repeat;
    background-size:cover;
    height:800px;
    width:100%;
    padding:auto;
}
.fundo img{
    width:100%;
}
.card-login{
    
    width: 1136px;
    height:600px;
    display:flex;
    justify-content:center;
    align-items: center;
}
.login form{
    display:flex;
    flex-flow: row wrap;
    width:400px;
}
.registrar-se form{
    width:400px;
}
.login, .registrar-se{
    display:flex;
    flex-direction: column;
    width:500px;
    height:500px;
}
.texto{
    display:flex;
    width:70%;
    margin:0px 30px;
    flex-wrap: wrap;
}
.texto a{
   margin: 10px 0px 0px; 
}
h2{
    text-align:center;
    justify-content: center;
    font-size:35px;
    font-family: var(--mont);
    color:#472A4C;
    margin:0px 30px;
    width:400px;  
}
.registrar-se input,.login input{
    width:100%;
    height: 20px;
    color:#707070;
    border:1px solid #707070;
    border-radius: 4px;  
}
.registrar-se label,.login label{
    margin: 10px 0px 0px;
}
.registrar-se{
    border-left: 1px solid #707070;
}
.botao{
    width:100%;
    height:60px;
    margin-top:20px;
    font-size:25px;
    margin-bottom:20px;
    border:1px solid #472A4C;
    border-radius:5px;
    color:white;
    background-color:#472A4C;
}
.caixa-texto{
    border:1px solid #707070;
    border-radius: 4px;
    padding:5.5px 4px;
    }
.container-login{
    display:flex;
    justify-content: center;
    align-items:center;
    margin:auto;
    height:800px;  
}
.texto-horizontal, .linha_link{
    display:inline-flex;
    text-align:left;
    align-items:center;
    width: 350px;  
}
.texto-horizontal input, .linha_link input{
    width: 20px;
    margin: 0px 15px 0px 0px;
}
/* ---------------------------------------------------------------FIM DA PAGINA LOGIN-----------------------------------------------  */

/* ---------------------------------------------------------------INICIO DA PAGINA PERFIL-----------------------------------------------  */
.wrap {
    display: flex;
    flex-wrap: wrap;
}
.dados-pessoais {
    display: flex;
    width: 100%;
}
.dados-pessoais img {
    width: 20%;
    height: 80%;
    margin: auto;
    border: 1px solid var(--laranja);
    padding: 5px;
    border-radius: 4px;
    background: var(--branco);
}
.dados-pessoais form {
    display: flex;
    border: 1px solid var(--laranja);
    justify-content: space-between;
    padding: 20px 10px;
    margin: 20px;
    border-radius: 4px;
    width: 80%;
    background: var(--branco);
}
.dados {
    width: 400px;
    display: flex;
    flex-flow: column wrap;
}
.informacoes-extras {
    width: 50%;
    margin-left: 20px;
}
.informacoes-extras input {
    margin: 0px 2px;
    color: var(--roxo);
}
.dados label {
    font-family: var(--lato);
    color: var(--roxo);
    width: 100%;
    margin: 0px 2px;
}
.titulo-perfil {
    text-align: center;
    font-size: 20pt;
    padding: 5px 0px;
}
.row-form {
    display: flex;
    justify-content: left;
    align-items: center;
    width: 100%;
    padding: 20px;
    margin: 8px 0px;
    ;
}
.row-form span {
    text-align: justify right;
    margin-right: 5px;
}
.text-data {
    width: 100%;
    display: flex;
    flex-flow: column wrap;
    line-height: 1.5;
    font: 20px var(--roxo) var(--lato);
    margin: 30px 0px;
    border-right: 1px solid var(--laranja);
}
.text-data label {
    margin: 8px 0px;
    text-align: justify;
}
.dados-contato {
    width: 100%;
    margin: 30px 0px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.contato, .endereco {
    background-color: var(--branco);
    width: 40%;
    height: 100%;
    margin: 0px auto;
    padding: 10px;
}
.contato h5, .endereco h5 {
    font-family: var(--lato);
    width: 90%;
    height: 10%;
    font-weight: lighter;
    color: var(--laranja);
    font-size: x-large;
    text-align: center;
    border-bottom: 1px var(--roxo) solid;
    padding: 8px 15px;
}
.texto-card {
    display: flex;
    align-items: center;
    padding: 20px;
    text-align: justify;
    font-size: 20px;
    color: var(--roxo);
    font-family: var(--lato);
}
.endereco p {
    text-align: center;
    margin: auto;
}
.mapa {
    width: 100%;
    margin: auto;
}
.mapa iframe {
    margin: 30px;
    width: 80%;
    height: 80%;
    border-radius: 10px;
}
.contato form {
    width: 100%;
    height: 270px;
    display: flex;
    text-align: center;
    flex-flow: column wrap;
    margin: 20px 0px;
}
.contato form span {
    font-size: 18px;
    margin: 0px 8px;
}
.botoes {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.btn-card {
    color: var(--branco);
    font-size: 16px;
    margin: 40px;
    font-family: var(--montserrat);
    border: 0px;
    background-color: var(--roxo);
    width: 15%;
    height: 54px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    -webkit-box-shadow: 0px -5px 20px 0px rgba(0, 0, 0, 1);
    -moz-box-shadow: 0px -5px 20px 0px rgba(0, 0, 0, 0.575);
    box-shadow: 0px -5px 20px 0px rgba(0, 0, 0, 0.39);
}
.btn-card img {
    width: 32px;
    margin-right: 5px;
}
/* ---------------------------------------------------------------FIM DA PAGINA PERFIL-----------------------------------------------  */

/* ---------------------------------------------------------------INICIO DA PAGINA CADASTROS-----------------------------------------------  */
.formulario{
    background-color: var(--branco);
    display: flex;
    justify-content: space-between;
    margin: auto;
    width: 820px; 
}
.formulario img{
    width: 150px;
}
.tit_cad{
    margin: auto;
    width: 970px;
    background-color: var(--branco);    
}
.card_cadastro{
    width: 970px;
    margin: auto;
    background-color: var(--branco);
}
.card_total_cad{
    display: flex;
    justify-content: space-between;
    width: 920px;
    margin: auto;
}
.label_cad{
    font-size: 20px;   
}
.txt_cad{
    width: 540px;
    padding: 6px 40px 6px 9px;    
}
.form_box1{
    width: 720px;
    padding-left: 30px;
}
.form_box2{
    display: flex;
    justify-content: space-between;
    width: 780px;
}
.form_box3{
    width: 730px;
    margin: auto;
    background-color: var(--branco); 
}
.txt_1{
    width: 290px;
    padding: 6px 30px 6px 9px;  
}
.txt_2{
    width: 330px;
    padding: 6px 30px 6px 9px;  
}
.txt_3{
    width: 210px;
    padding: 6px 30px 6px 9px;  
}
.box_1{
    width: 380px;
}
.grupo_cad_total{
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;  
}
.opcao{
    padding-left: 40px;
    font-size: 18px;
}
.btncad{
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    width: 600px;
}
.prod_h{
    text-align: center;
    text-decoration-line: underline;
    font-size: 33px;
    width: 970px;
    margin: auto;
    padding: 50px 0px;
}
.prod_h_titulo{
    text-align: center;
    text-decoration-line: underline;
    font-size: 33px;
    width: 920px;
    margin: auto;
    padding: 30px 0px;
}
.card_prod{
    display: flex;
    justify-content: space-around;
    height: 230px;
    text-align: center;
    width: 800px;
    flex-wrap: wrap;
    margin-bottom: 50px;
}
.card_prod .card{
    width: 160px;
}
.card .btn_cad_1{
    width: 80px;
    height: 30px;
    margin-top: 10px;
}
.card_prod img{
    width: 80px;
    padding-top: 10px;
}
.btn_cad{
    height: 230px;
    background-color: var(--roxo);
    border: none;
    width: 70px; 
}
.btn_cad_1{
    color: var(--branco);
    background-color: var(--roxo);
    border: 1px solid var(--roxo);
    border-radius: 10px;
    font-size: 18px;
    width: 150px;
    height: 40px;
    margin: 0px 5px;
}
.btn_cad img{
    width: 50px;
}
.linha_laranja_cad{
    padding-top: 30px;
    border-bottom: 3px solid var(--laranja);
    margin: auto;
    width: 920px;
}
.tag_laranja{
    color: var(--laranja);
}
/* ---------------------------------------------------------------FIM DA PAGINA CADASTROS-----------------------------------------------  */

/* ---------------------------------------------------------------INICIO DA PAGINA HOME-----------------------------------------------  */

.home{
    background-color: var(--branco);
    width: 100%;
    font-size: 20px;
}
.banner_home{
    background-image: linear-gradient(rgba(255,255,255,0.1),rgba(255,255,255,0.1)), url(../img/home.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logoslogan_home{
    background-color: rgba(255, 255, 255, 0.4);
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 150px;
}
.logoslogan_home img{
    height: 300px;
}
.tituloh2{
    color:var(--roxo);
    font-family: var(--mont);
    font-size: 32px;
    text-align: center;
    margin: auto;
    margin-bottom: 20px;
    border-bottom: var(--roxo) solid 2px;
    padding: 5px;
}
#historia, #colaboradores{
    z-index: -1;
    height: 100vh;
    display: flex;
    justify-content: center;
    text-align: center;
}
#propositos, #receitas{
    background-image: url(../img/home_bg.png);
    z-index: -1;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    text-align: center;
}
.container_home{
    width: 900px;
    margin: auto;
    display: flex;
    text-align: center;
    flex-direction: column;
}
.text_home1{
    display: flex;
    justify-content: center;
    text-align: justify;
    color: var(--roxo);
    padding: 30px 60px;
}
.text_home2 p, .text1 p, .subtext_home1, .subtext_home2{
    text-align: justify;
    font-size: 20px;
}
.subtext_home1, .subtext_home2{
    margin: 0px 20px;
}
.text_home2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    color: var(--roxo);
    padding: 30px 60px;
}
.text_home2 img{
    opacity: 0.8;
    border-radius: 16px;
    height: 200px;
    width: 240px;
}
.subtext_home1{
    padding: 25px 0px 25px 15px;
}
.subtext_home2{
    padding: 25px 0px 25px 15px;
}
.saiba{
    display: flex;
    justify-content: flex-end;
    text-decoration: none;
    line-height: none;
    color: var(--roxo);
    font-size: 25px;
    padding: 0px 80px;
}
/* -------------------------------------------------------FIM DA PAGINA HOME---------------------------------------------------------------------------------  */



/* ---------------------------------------------------------------RESPONSIVO----------------------------------------------------------------- */

/*TABLET 768px to 1200 px */
@media(max-width: 1200px){
    /* --------------------------------------------------------------------EDIÇÃO GERAL TABLET*/
    .container{
        width: 700px;
    }

    /* --------------------------------------------------------------------HEADER TABLET*/
    #menu_inferior .header_position{
        width: 700px;   
    }
    #menu_inferior ul a{
        margin: 0px 0px 0px 15px;
        font-size: 16px;
    }

    /* --------------------------------------------------------------------COLABORADORES TABLET*/
    .card_colab{
        display: inline-flex;
        flex-direction: column;
        width: 700px;
        height: 750px;
    }
    .sp_border{
        display: none;
    }

    /* --------------------------------------------------------------------RECEITAS TABLET*/
    .caixa_central{
        width: auto;
        margin: auto;
    }
    .grupo_total{ 
        margin: auto;
        width: auto;
    }
    .grupo{
        margin: auto;
        width: 750px;
    }  
    .linha_laranja{
        width: auto;
    }

    /* --------------------------------------------------------------------PERFIL TABLET*/
    .titulo-perfil{
        font-size: 15pt;
    }
    .dados-pessoais{
        width: 90%;
        margin: auto;
        flex-flow: column wrap;
    }
    .contato, .endereco{
        width: 50%;
        padding: 0;
    }
    .endereco{
        margin: 0px 0px 0px 8px;
    }
    .dados, .row-form, .dados-contato, .texto-card{
        margin: 10px;
        padding: 10px;
        width: 100%;
    }
    .dados-pessoais img{
        width: 40%;
        height: 80%;
    }
    .dados-pessoais form{
        margin: 20px 0px;
        width: 100%;
    }
    .dados{
        width: 100%;
        display: flex;
        flex-flow: column wrap;
    }
    .texto-card{
        width: 90%;
        display: flex;
        flex-direction: column;
        padding: 10px;
    }
    .informacoes-extras{
        width: 100%;
        padding: 50px 0px 0px;
    }
    .botoes{
        justify-content: space-around;
    }
    .btn-card{
        margin: 40px 10px;
        width: 25%;
        cursor: pointer;
    }
    .btn-card:hover{
        font-size: 20px;
    }
    .text-social{
        width: 100%;
        flex-flow: row wrap;
        font-size: 16px;
    }
    /* --------------------------------------------------------------CADASTRO TABLET*/

    /* --------------------------------------------------------------LOGIN TABLET*/    
    

    /* --------------------------------------------------------------HOME TABLET */
    .banner_home{
        background-size: cover;
    }
    .loganslogan_home{
        margin-top: 100px;
    }
    .logoslogan_home img{
        height: 200px;
    }
    h2{
        font-size: 28px;
        margin: auto;
    }
    .container_home1{
        width: 600px;
    }
    .text_home1{
        padding: 25px;
    }
    .text_home2{
        padding: 25px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .text_home2 img{
        height: 150px;
        width: 200px;
    }
    .subtext_home1{
        padding: 25px 0px 25px 30px;
    }
    .subtext_home2{
        padding: 25px 30px 25px 0px;
    }
    .saiba{
        font-size: 20px;
        padding: 0px 30px;
    }
}

/*SMARTPHONE 360px to 767px*/
@media(min-width: 360px) and (max-width: 767px){
    /* --------------------------------------------------------------------EDIÇÃO GERAL MOBILE*/
    .container{
        width: 350px;
    }
    main{
        margin: 0px;
    }

    /* --------------------------------------------------------------------HEADER MOBILE*/
    header{
        position: static;            
    }
    #menu_superior ul a{
        font-size: 10px;  
    }
    #menu_superior ul li{
        margin: 0px 10px;
    }
    #menu_inferior{
        text-align: center;
    }
    #menu_inferior .header_position{
        width: 350px;
        display: inline-flex;
        justify-content: center;
        align-items: center;
    }
    #menu_inferior .header_position ul{
        display: none;  
    }
    
    /* --------------------------------------------------------------------COLABORADORES MOBILE*/
    .colab_banner .p_colab{
        font-size: 25px;
    }
    .sp_border{
        display: none;
    }
    .card_colab{
        display: inline-flex;
        flex-direction: column;
        width: 350px;
        height: 1350px;
    }
    .card_size{
        width: 300px;
        height: 650px;
    }
    .card_style{
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: justify;
        flex-direction: column;
        margin: 20px 0px;
    }
    .text_1{
        margin: 20px 0px 0px;
    }

    /* ------------------------------------------------------------------RECEITAS E COLABORADORES MOBILE*/
    h1{
        font-size: 30px;
    }
    .form_style{
        display: none;
    }

    /* ---------------------------------------------------------------------RECEITAS MOBILE*/
    .bloco_titulo_2{
        font-size: 25px;
    }

    /* ----------------------------------------------------------------------PERFIL MOBILE*/
    .dados-pessoais {
        display: flex;
        flex-wrap: wrap;
        width: 300px;
        margin: auto;
    }
    .dados, .informacoes-extras, .dados-pessoais form, .row-form, .dados-contato, .contato, .endereco, .texto-card {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        margin: auto;
        padding: 20px 10px;
    }
    .row-form, .texto-card, .text-data {
        font-size: 18px;
        padding: 5px;
    }
    .dados-pessoais img {
        width: 80%;
        height: 30%;
        margin: 20px;
    }
    .text-data {
        border-right: 0px;
        margin: 0;
        border-bottom: 1px var(--laranja) solid;
        border: bottom size 30px;
    }
    .contato form {
        height: 100%;
        flex-flow: column wrap;
        padding: 3px;
    }
    .contato {
        margin: 30px 0px;
        padding: 10px 5px;
    }
    .btn-card {
        width: 100%;
    }
    .btn-card:hover {
        font-size: 20px;
    }
    .dados-pessoais form label, .dados-pessoais form span, .informacoes-extras form label, .informacoes-extras form span, .row-form form label, .row-form form span {
        width: 100%;
        font-size: 18px;
        margin: 2px 0px;
        display: flex;
        flex-wrap: wrap;
        align-content: space-between
    }

    /* --------------------------------------------------------------------CADASTRO MOBILE*/
    .card_cadastro{
        width: 368px;
        margin: auto;
        background-color: var(--branco);  
    }
    .prod_h_titulo{
        width: 361px;
        font-size: 20px;
        text-decoration-line: none;
        background-color: var(--roxo);
        color: var(--branco);   
    }
    .formulario{
        flex-direction: column;
        width: 368px;
    }
    .formulario img{
        padding-left: 100px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .form_box1{
        padding: 0px;
        width: 368px;
        padding-left: 30px;
    }
    .form_box2{
        flex-direction: column;
        width: 368px;
    }
    .txt_cad{
        width: 230px;
    }
    .box_1{ 
        padding-left: 30px;
    }
    .grupo_cad{
        text-align: center;
        width: 368px;
    }
    .bt_salvar{
        margin-bottom: 10px;
    }   
    .grupo_cad_total{
        flex-direction: column;
        width: 368px;
    }
    .form_box3{
        width: 368px;
    }
    .opcao{
        padding: 0px;
    }
    .txt_1{
        width: 240px;
    }
    .txt_2{
        width: 240px;
    }
    .btncad{
        width: 260px;
        flex-direction: column;
        margin-top: 10px;
    }
    .linha_laranja_cad{
        width: 368px;
    }
    .prod_h{
        width: 368px;   
    }
    .tit_cad{
        width: 360px;
    }
    .btn_cad{
        display: none;
    }
    .card_total_cad{
        width: 368px;
        display: flex;
        justify-content: center;
        height: 1040px;
    }
    .crd{
        margin-top: 30px;
    }
    .card_prod{
        width: 200px;
    }
    .parte2{
        display: none;
    }
    .container-login{
        width:80%;
        margin:auto;
        height:100%;
    }
    .caixa-texto{
    margin:100%;
    width:80%;
    }

    /* ------------------------------------------------------------------------LOGIN MOBILE*/
    

    /* --------------------------------------------------------------HOME MOBILE */
    .banner_home{
        background-size: cover;
    }
    .loganslogan_home{
        margin-top: 100px;
    }
    .logoslogan_home img{
        height: 200px;
    }
    h2{
        font-size: 20px;
        margin: auto;
    }
    .container_home{
        width: 400px;
    }
    .text_home1{
        padding: 20px;
        display: flex;
        align-items: center;
    }
    .text_home2{
        padding: 20px 20px 10px 20px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    .inverse{
        flex-direction: column-reverse;
    }
    .text_home img{
        height: 75px;
        width: 100px;
    }
    .subtext_home1{
        padding: 10px 10px 0px 10px;
    }
    .subtext_home2{
        padding: 10px 10px 0px 10px;
    }
    .saiba{
        font-size: 15px;
        margin-bottom: 20px;
        margin: auto;
        text-align: center;
    }

    /* --------------------------------------------------------------FOOTER MOBILE*/
    .footer_position{
        width: auto;
        display: flex;
        flex-direction: column;
    }
    .footer_style .off{
        display: none;
    }
    .footer_style a{
        text-align: left;
        margin: 10px 0px 0px;
    }
    .footer_style div{
        display: flex;
        flex-direction: column;
        width: 300px;  
    }
}
